extends layout

block content
	link(rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css")
	script(src="/javascripts/add-child.js")
	script(src="https://code.jquery.com/ui/1.12.0/jquery-ui.js")
	div.container
		div.row
			div.col-md-6.col-md-offset-3
				h1.text-center.login-title Register Child
		div.row
			div.col-sm-6.col-md-6.col-md-offset-3
				div.signup-wall
					form(class='form-signin')
						input(type='text', name='name', id='name' class='form-control', placeholder='name', required, autofocus)
						input(type='text', name='dob', id="datepicker", class='form-control', placeholder='Date of Birth', required)
						div(class='btn btn-lg btn-primary btn-block' id="submit") Register
						span.clearfix
				#message
					if message
						h1.text-center.error-message #{message}
