extends layout

block content
  div(class="main")
    link(rel="stylesheet" href="/stylesheets/toddler-keyboard.css")
    script(src="/javascripts/toddler-keyboard.js")
    div(class="row")
      div(id="output-text")
    div(class='row')
      div(id="output-img")
      div(id="output-attr-text")
  div(class="container")
    //- span(class="row alphabet")
  
  
  div(class="col-md-8 col-md-offset-2 text-center")
    .table-responsive
      table.table
        thead
          tr
            th 
            th 
            th 
            th 
            th 
            th
        tbody(class="alphabet")
