.bf3c41 {
  background-color: #bf3c41;
}
.blue-3d65a4 {
  background-color: #3d65a4;
}
.green-00FF00 {
  background-color: #00FF00;
}
.FFFF00 {
  background-color: #FFFF00;
}
.FFA500 {
  background-color: #FFA500;
}
.black-000000 {
  background-color: #000000;
}

.blocks {
  height: 100px;
}
